[submodule "zsh/prezto"]
	path = zsh/prezto
	url = https://github.com/sorin-ionescu/prezto.git
  ignore = dirty
[submodule "liquidprompt"]
	path = liquidprompt
	url = https://github.com/nojhan/liquidprompt.git
[submodule "vim/bundle/showmarks"]
	path = vim/bundle/showmarks
	url = https://github.com/xsunsmile/showmarks.git
[submodule "vim/bundle/vim-flavored-markdown"]
	path = vim/bundle/vim-flavored-markdown
	url = https://github.com/jtratner/vim-flavored-markdown.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/python-mode"]
	path = vim/bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "vim/bundle/vim-golang"]
	path = vim/bundle/vim-golang
	url = https://github.com/jnwhiteh/vim-golang.git
[submodule "vim/bundle/tcomment_vim"]
	path = vim/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "vim/bundle/camelcasemotion"]
	path = vim/bundle/camelcasemotion
	url = https://github.com/vim-scripts/camelcasemotion.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-git"]
	path = vim/bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "vim/bundle/ag.vim"]
	path = vim/bundle/ag.vim
	url = https://github.com/rking/ag.vim.git
[submodule "vim/bundle/delimitMate"]
	path = vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/gundo.vim"]
	path = vim/bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/vim-misc"]
	path = vim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc
[submodule "autojump"]
	path = autojump
	url = https://github.com/joelthelion/autojump
[submodule "vim/bundle/vim-go"]
	path = vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim/bundle/vim-ctrlspace"]
	path = vim/bundle/vim-ctrlspace
	url = https://github.com/szw/vim-ctrlspace.git
[submodule "vim/bundle/easymotion"]
	path = vim/bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/vim-hybrid"]
	path = vim/bundle/vim-hybrid
	url = https://github.com/w0ng/vim-hybrid.git
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/bundle/CamelCaseMotion"]
	path = vim/bundle/CamelCaseMotion
	url = https://github.com/bkad/CamelCaseMotion
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
