[submodule "zsh/prezto"]
	path = zsh/prezto
	url = https://github.com/sorin-ionescu/prezto.git
  ignore = dirty
[submodule "liquidprompt"]
	path = liquidprompt
	url = https://github.com/nojhan/liquidprompt.git
[submodule "vim/bundles/showmarks"]
	path = vim/bundles/showmarks
	url = https://github.com/xsunsmile/showmarks.git
[submodule "vim/bundles/vim-flavored-markdown"]
	path = vim/bundles/vim-flavored-markdown
	url = https://github.com/jtratner/vim-flavored-markdown.git
[submodule "vim/bundles/syntastic"]
	path = vim/bundles/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundles/python-mode"]
	path = vim/bundles/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "vim/bundles/vim-golang"]
	path = vim/bundles/vim-golang
	url = https://github.com/jnwhiteh/vim-golang.git
[submodule "vim/bundles/vim-nerdtree-tabs"]
	path = vim/bundles/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "vim/bundles/nerdtree"]
	path = vim/bundles/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundles/tagbar"]
	path = vim/bundles/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundles/neocomplete"]
	path = vim/bundles/neocomplete
	url = https://github.com/Shougo/neocomplete.git
[submodule "vim/bundles/tcomment_vim"]
	path = vim/bundles/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "vim/bundles/camelcasemotion"]
	path = vim/bundles/camelcasemotion
	url = https://github.com/vim-scripts/camelcasemotion.git
[submodule "vim/bundles/vim-surround"]
	path = vim/bundles/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundles/AutoTag"]
	path = vim/bundles/AutoTag
	url = https://github.com/vim-scripts/AutoTag.git
[submodule "vim/bundles/vim-colors-solarized"]
	path = vim/bundles/vim-colors-solarized
	url = https://github.com/skwp/vim-colors-solarized.git
[submodule "vim/bundles/gruvbox"]
	path = vim/bundles/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "vim/bundles/vim-fugitive"]
	path = vim/bundles/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundles/vim-git"]
	path = vim/bundles/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "vim/bundles/ctrlp.vim"]
	path = vim/bundles/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundles/vim-session"]
	path = vim/bundles/vim-session
	url = https://github.com/xolox/vim-session.git
[submodule "vim/bundles/vim-sneak"]
	path = vim/bundles/vim-sneak
	url = https://github.com/justinmk/vim-sneak.git
[submodule "vim/bundles/ag.vim"]
	path = vim/bundles/ag.vim
	url = https://github.com/rking/ag.vim.git
[submodule "vim/bundles/greplace.vim"]
	path = vim/bundles/greplace.vim
	url = https://github.com/skwp/greplace.vim.git
[submodule "vim/bundles/delimitMate"]
	path = vim/bundles/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vim/bundles/tabular"]
	path = vim/bundles/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/bundles/gundo.vim"]
	path = vim/bundles/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim/bundles/YankRing.vim"]
	path = vim/bundles/YankRing.vim
	url = https://github.com/skwp/YankRing.vim.git
[submodule "vim/bundles/solarized"]
	path = vim/bundles/solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vim/bundle/vim-misc"]
	path = vim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc
[submodule "vim/bundle/vim-gocode"]
	path = vim/bundle/vim-gocode
	url = https://github.com/Blackrush/vim-gocode
